%%-*- mode: erlang -*-
{deps, [
        {webmachine, "1\.9\.2", 
         {git, "https://github.com/basho/webmachine.git", "master"}},
        {icu4e, "1\.0\.0", 
         {git, "https://github.com/noahdiewald/icu4e.git", "master"}},
        {erlydtl, "0\.7\.0", 
         {git, "http://github.com/evanmiller/erlydtl.git", "master"}},
        {ibrowse, "4\.0\.1", 
         {git, "http://github.com/cmullaparthi/ibrowse.git", "master"}}
]}.

{port_specs, [{"priv/icu_nif.so", ["c_src/*.c"]}]}.

{port_env, [
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -licuuc -licui18n -licudata"}
]}.

{port_env, [
  {"CFLAGS", "$ICU_CFLAGS $CFLAGS $ICU_INC_PATH"},
  {"CXXFLAGS", "$ICU_CXXFLAGS $CXXFLAGS $ICU_INC_PATH"},
  {"LDFLAGS", "$ICU_LDFLAGS $LDFLAGS"}
]}.

{clean_files, ["priv/*.so", "c_src/*.o"]}.

{erlydtl_opts, [{custom_filters_modules, [erlydtl_custom_filters]}]}.
