%%-*- mode: erlang -*-
{deps, [
        {rvre, ".*", 
         {git, "https://github.com/noahdiewald/rvre.git", "master"}},
        {cowboy, "0\.8\.6", 
         {git, "https://github.com/extend/cowboy.git", "0.8.6"}},
        {mimetypes, ".*",
         {git, "https://github.com/spawngrid/mimetypes.git", "1.0"}},
        {erlydtl, "0\.8\.0", 
         {git, "https://github.com/evanmiller/erlydtl.git", "0.8.0"}},
        {ibrowse, "4\.4\.2", 
         {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}}
       ]}.

{erlydtl_opts, [
                [{doc_root, "templates"}, 
                 {module_ext, "_dtl"}, 
                 {out_dir, "ebin"}], 
                {custom_filters_modules, [erlydtl_custom_filters]}, 
                {compiler_options, []}]}.
