%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1\.9\.1", {git, "https://github.com/basho/webmachine.git", "master"}},
  {icu4e, "1\.0\.0", {git, "https://github.com/noahdiewald/icu4e.git", "master"}},
  {erlydtl, "0\.7\.0", {git, "http://github.com/evanmiller/erlydtl.git", "master"}},
  {erlang_js, "1\.0\.2", {git, "http://github.com/basho/erlang_js.git", "master"}},
  {ibrowse, "3\.0\.4", {git, "http://github.com/cmullaparthi/ibrowse.git", "master"}}
]}.
{so_name, "icu_nif.so"}.
{port_envs, [
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -licuuc -licui18n -licudata"}
]}.

