<tr>
  <th colspan=2 {{#first}}id="first-{{ category }}-element" data-first-id="{{ id }}" {{/first}}>
    <a href="#{{ document_id }}" class="view-document-link">{{ document_head }}</a>
  </th>
</tr>
<tr>
  <td>
    {{ change_type }}
  </td>
  <td>
    Rev: {{ document_revision }}
  </td>
</tr>
<tr>
  <td>
    {{ user }}
  </td>
  <td>
    {{ timestamp }}
  </td>
</tr>
{{#changes}}
<tr>
  <th colspan=2>
    {{ fieldsetLable }}: {{ fieldLable }}
  </th>
</tr>
<tr>
  <th>
    Previous Value
  </th>
  <th>
    New Value
  </th>
</tr>
<tr>
  <td>
    {{^originalValue}}
      <b>ADDED</b>
    {{/originalValue}}
    {{ originalValue }}
  </td>
  <td>
    {{^newValue}}
      <b>REMOVED</b>
    {{/newValue}}
    {{ newValue }}
  </td>
</tr>
{{/changes}}
