<div id="maintenance">
  <h3>Upgrade Project</h3>

  <p>
    Clicking the button below will initiate an upgrade of the project
    core design document to the latest version available on your
    system.
  </p>
  <p>
    Be aware that this may cause significant slowness on your system
    while view indexes are rebuilt.
  </p>

  <a id="maintenance-upgrade-button" class="maintenance-upgrade-button link-button">Upgrade</a>
</div>
