<li 
  class="field-view 
    {{#changed}}changed{{/changed}}"
  data-field-field="{{ id }}"
  {{#changed}}
  data-field-original-value="{{ originalValue }}"
  {{/changed}}
  {{#instance}}
  data-field-instance="{{ instance }}"
  {{/instance}}
  data-field-value="{{ json_value }}">
  <b>{{ label }}</b>:
  {{#is_textarea}}
    <span class="retain-white">{{value}}</span>
  {{/is_textarea}}
  {{^is_textarea}}
    {{value}}
  {{/is_textarea}}
</li>
