{{#rows}}
<div class="total-rows-info">
  <b>Total</b>: {{ total_rows }}
</div>
<div id="save-search-results">
  <a href="#">(Save Selected)</a>
</div>

{{#index_listing}}
<div class="search-results">
  <input type="checkbox" class="select-results" name="select-results" />
  <label for="select-results">Select Results</label>
  <table>
    {{#rows}}
    {{>document-search-results.dtl}}
    {{/rows}}
  </table>
</div>
{{/index_listing}}
{{^index_listing}}
{{#rows}}
<h5 class="search-result-field-id toggler"
    data-field-field="{{ id }}"
    data-target="results-for-field-{{ id }}"
    title="Click to display">
  <a href="#" title="Double click to add as search option">
    {{ id }}
  </a> 
  ({{ total_rows }})
</h5>

<div class="search-results"
     id="results-for-field-{{ id }}">
  <input type="checkbox" class="select-results" name="select-results-{{ field.id }}" />
  <label for="select-results-{{ id }}">Select Results</label>
  <table>
    {{#rows}}
    {{>document_search_results}}
    {{/rows}}
  </table>
</div>
{{/rows}}
{{/index_listing}}
{{/rows}}
{{^rows}}
<em>No Results</em>
{{/rows}}
