<div 
  data-group-id="{{ _id }}"
  class="fields ui-widget ui-widget-content ui-corner-all padded">
  {{#multiple}}
    <a href="#" class="remove-button link-button">Remove</a >
  {{/multiple}}
</div>
