<tr class="ui-state-default ui-corner-all">
  {{#is_or}}
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td colspan=5 class="or-condition" data-value="true">OR</td>
  <td class="remove-condition-button-cell">
    <a class="remove-condition-button link-button">Remove</a>
  </td>
  {{/is_or}}
  {{#paren_close}}
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td colspan=5 class="paren-condition normal" data-value="close">
    <div title="normal closing parenthesis"></div>
  </td>
  <td class="remove-condition-button-cell">
    <a class="remove-condition-button link-button">Remove</a></td>
  {{/paren_close}}
  {{#paren_exclose}}
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td colspan=5 class="paren-condition existential" data-value="exclose">
    <div title="existential closing paranthesis">∃</div>
  </td>
  <td class="remove-condition-button-cell">
    <a class="remove-condition-button link-button">Remove</a>
  </td>
  {{/paren_exclose}}
  {{#paren_exopen}}
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td colspan=5 class="paren-condition existential" data-value="exopen">
    <div title="existential opening parenthesis">∃</td>
  <td class="remove-condition-button-cell">
    <a class="remove-condition-button link-button">Remove</a>
  </td>
  {{/paren_exopen}}
  {{#paren_open}}
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td colspan=5 class="paren-condition normal" data-value="open">
    <div title="normal opening parenthesis"></div>
  </td>
  <td class="remove-condition-button-cell">
    <a class="remove-condition-button link-button">Remove</a>
  </td>
  {{/paren_open}}
  {{^parens}}
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td class="negate-condition" data-value="{{ negate }}">
    {{#negate}}NOT{{/negate}}
  </td>
  <td class="fieldset-condition" data-value="{{ fieldset }}">
    {{ fieldset_label }}
  </td>
  <td class="field-condition" data-value="{{ field }}">
    {{ field_label }}
  </td>
  <td class="operator-condition" data-value="{{ operator }}">
    {{ operator }}
  </td>
  <td class="argument-condition" data-value="{{ argument }}">
    {{ argument }}
  </td>
  <td class="remove-condition-button-cell">
    <a href="#" class="remove-condition-button link-button">Remove</a>
  </td>
  {{/parens}}
</tr>
