<table>
  <thead>
    <th>Name</th>
    <th>Doctype</th>
  </thead>
  <tbody>
    {{#rows}}
    <tr>
      <th><a href="#" data-index-id="{{ id }}">{{ key.1}}</a></th> 
      <td>{{ key.0 }}</td>
    </tr>
    {{/rows}}
  </tbody>
</table>