body {
  font-family: sans-serif;
  font-size: 9pt;
  background: #eeeeee;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #222222;
}
a {
  color: #222222;
  text-decoration: none;
}
.timestamps {
  font-size: 8pt;
}
h1 {
  color: #555555;
  font-size: 12pt;
  margin: 0;
}
header {
  padding-left: 0.5em;
  text-align: left;
  margin: 0;
  background: #ffffff;
}
nav ul {
  padding: 0;
  margin: 0;
}
#main-content {
  text-align: left;
  margin: auto;
  background: #ffffff;
}
#main-content #main-tabs {
  font-size: 8pt;
}
.ui-dialog-content {
  text-align: left;
}
.ui-dialog-content input[type=text],
.ui-dialog-content textarea {
  width: 100%;
}
.ui-widget-content {
  background: #ffffff;
  border-color: #9bc1f2;
  border-style: solid;
  border-width: thin;
}
.head-elements {
  padding: 0;
  margin: 0;
}
.reversal-elements {
  padding: 0;
  margin: 0;
  list-style: none;
}
.reversal-elements li:before {
  content: "·";
}
#edit-document-form input[type=text],
#edit-document-form select {
  width: 60%;
}
#edit-document-form p {
  font-size: 8pt;
  margin: 2px;
}
#edit-document-form .fields {
  padding: 1px;
}
#edit-document-form label {
  margin: 1px;
  padding-top: 2px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  width: 35%;
  position: relative;
  display: inline-block;
}
#edit-document-form label span.label-text {
  padding-left: 1em;
}
#edit-document-form textarea {
  width: 60%;
  height: 1.2em;
}
#edit-document-form textarea.expanded {
  height: 20em;
}
.expander {
  float: right;
  cursor: pointer;
}
.expander:before {
  content: "⇩";
}
.expanded.expander:before {
  content: "⇧";
}
label span.ui-icon-help {
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
}
.ui-tab {
  position: static;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  line-height: 0.5;
}
.ui-tab a {
  cursor: pointer;
}
.ui-tabs {
  border: none;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
.ui-tabs .ui-tabs-nav {
  padding: 1px;
}
.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li:hover {
  position: static;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  line-height: 0.5;
  background: #eeeeee;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs .ui-tabs-nav li:hover a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-nav li.ui-state-active {
  position: static;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  line-height: 0.5;
  background: #f07818;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a {
  cursor: pointer;
}
.ui-tabs li a {
  font-weight: normal;
}
select,
input,
textarea,
fieldset {
  background: #eeeeee;
  border-style: solid;
  border-width: thin;
  border-color: #cccccc;
  margin: 1px;
}
div#config-edit div#edit-form .marked {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form .lists {
  padding-left: 1em;
}
div#config-edit div#edit-form .collapsable.collapsed:after {
  content: ' ... ';
}
div#config-edit div#edit-form .list-elems .labels {
  margin-right: 1em;
}
div#config-edit div#edit-form .list-elems .labels:after {
  content: ':';
}
div#config-edit div#edit-form .list-elems .labels:-moz-focusring {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form .list-elems label,
div#config-edit div#edit-form .list-elems .span-label {
  margin-right: 1em;
}
div#config-edit div#edit-form .list-elems label:after,
div#config-edit div#edit-form .list-elems .span-label:after {
  content: ':';
}
div#config-edit div#edit-form .list-elems label:-moz-focusring,
div#config-edit div#edit-form .list-elems .span-label:-moz-focusring {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form .list-elems span.span-title {
  margin-right: 1em;
}
div#config-edit div#edit-form .list-elems span.span-title:after {
  content: ':';
}
div#config-edit div#edit-form .list-elems span.span-title:-moz-focusring {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form .list-elems span.span-title.collapsed:after {
  content: ' ... ';
}
div#config-edit div#edit-form li .labels {
  margin-right: 1em;
}
div#config-edit div#edit-form li .labels:after {
  content: ':';
}
div#config-edit div#edit-form li .labels:-moz-focusring {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form li label,
div#config-edit div#edit-form li .span-label {
  margin-right: 1em;
}
div#config-edit div#edit-form li label:after,
div#config-edit div#edit-form li .span-label:after {
  content: ':';
}
div#config-edit div#edit-form li label:-moz-focusring,
div#config-edit div#edit-form li .span-label:-moz-focusring {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form li span.span-title {
  margin-right: 1em;
}
div#config-edit div#edit-form li span.span-title:after {
  content: ':';
}
div#config-edit div#edit-form li span.span-title:-moz-focusring {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
div#config-edit div#edit-form li span.span-title.collapsed:after {
  content: ' ... ';
}
div#config-edit div#edit-form li.marked-line {
  background-color: #f0a265;
}
div#config-edit div#edit-form ul {
  padding-left: 1em;
}
div#config-edit div#edit-form ul > li {
  list-style-type: none;
}
div#config-edit div#edit-form ol {
  padding-left: 1em;
  list-style-position: inside;
}
div#config-edit div#edit-form ol > li.collapsed:after {
  content: ' ... ';
}
#notifications-main {
  top: 0;
  right: 0;
  text-align: center;
  width: 50%;
  position: fixed;
  z-index: 100;
}
#notifications-main div {
  padding: 0.5em;
  display: none;
}
ul.head-elements {
  padding: 0;
}
ul.head-elements li {
  padding: 0;
  display: inline;
}
ul.head-elements li:before {
  content: ", ";
  white-space: pre;
}
ul.head-elements li:first-child:before {
  content: "";
}
#container {
  display: table;
  width: 100%;
}
#container > div {
  background: #ffffff;
  display: table-row;
}
table {
  border-collapse: collapse;
  background: #eeeeee;
}
table th {
  border-style: solid;
  border-color: #cccccc;
  border-width: thin;
  background: #ffffff;
  color: #000000;
  vertical-align: top;
}
table th a {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}
table td {
  border-style: solid;
  border-color: #cccccc;
  border-width: thin;
}
.panel {
  display: table-cell;
  vertical-align: top;
  padding-top: 0;
  width: 25%;
}
.panel table {
  width: 100%;
}
.panel#index-index {
  width: 10%;
}
.panel#document-changelog table tr.change-change th {
  font-weight: normal;
  font-style: italic;
}
.panel#document-changelog table tr.change-header th,
.panel#document-changelog table tr.change-header td {
  vertical-align: middle;
  background: white;
  border-top-color: black;
  border-top-width: thick;
}
.panel#document-changelog table tr.change-header th a,
.panel#document-changelog table tr.change-header td a {
  font-weight: bold;
}
.panel#document-view ul {
  padding-left: 1em;
  line-height: 120%;
  list-style-type: none;
}
.panel#document-view ol {
  padding-left: 1.5em;
}
.panel#document-view ol ul {
  padding-left: 0;
}
.panel#document-view li b {
  color: #000000;
  font-weight: normal;
}
.panel#document-view li ul b {
  color: #ba5d12;
  text-decoration: none;
  font-weight: normal;
}
.panel#document-view li.collapsed ul,
.panel#document-view li.collapsed ol {
  display: none;
}
.panel#document-edit,
.panel#index-edit,
.panel#config-edit {
  width: 50%;
}
.panel#document-worksheets #worksheet-area {
  width: 100%;
  overflow: auto;
}
.panel#document-worksheets #worksheet-area table#worksheet-table {
  table-layout: fixed;
}
.panel#document-worksheets #worksheet-area table#worksheet-table td.selected-column {
  background: #9bc1f2;
}
.panel#document-worksheets #worksheet-area table#worksheet-table tr.selected-row {
  background: #f0a265;
}
.panel#document-worksheets #worksheet-area table#worksheet-table tr.selected-row td.selected-column {
  background: #ffffff;
  font-weight: bold;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .header-row th.worksheet-handle-header {
  width: 2em;
  min-width: 2em;
  overflow: visible;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .header-row th.worksheet-handle-header div {
  height: 2em;
  position: relative;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .header-row th.worksheet-handle-header div span {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0em;
  left: 0.5em;
  white-space: nowrap;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .body-row td {
  overflow: hidden;
  white-space: nowrap;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .body-row td ol {
  padding: 0;
  margin: 0;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .select-column {
  width: 2em;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .fieldset.handle-column {
  background: #555555;
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .fieldset.handle-column a {
  color: #ffffff;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .field.handle-column {
  background: #ffffff;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #222222;
}
.panel#document-worksheets #worksheet-area table#worksheet-table .collapse,
.panel#document-worksheets #worksheet-area table#worksheet-table .field-column {
  display: none;
}
span.retain-white {
  white-space: pre-wrap;
}
#container h2 {
  margin-top: 0;
  font-size: 1em;
  padding-left: 0.5em;
}
nav#main-navigation {
  width: 100%;
  padding-left: 1em;
  margin-left: -1em;
  background-color: #555555;
}
nav#main-navigation a {
  text-decoration: none;
  padding-right: 2em;
  color: #ffffff;
}
#panel-toggle {
  margin: 0;
  padding-left: 0.5em;
  background: #f0a265;
}
#panel-toggle ul {
  opacity: 0.7;
  padding: 0;
  margin: 0;
}
nav#main-navigation:hover,
#panel-toggle:hover {
  opacity: 1;
}
nav ul li,
#panel-toggle ul li {
  display: inline;
  font-weight: bold;
}
#loading {
  border-width: thin;
  border-style: solid;
  border-color: #cccccc;
  background: #eeeeee;
  opacity: 0.9;
  position: fixed;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  margin-left: -50px;
  left: 50%;
  top: 40%;
  display: none;
}
#tabs-container {
  width: 100%;
}
h5 {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}
h5 + .search-results {
  max-height: 50ex;
}
h5 a {
  color: #ba5d12;
  text-decoration: none;
  font-weight: normal;
}
#document-view-tree > ul > li.collapsed.fieldset-view > b:before {
  content: "▸ ";
}
#document-view-tree > ul > li.fieldset-view > b:before {
  content: "▾ ";
}
select[multiple=true] {
  height: 5em;
}
#index-index-listing {
  width: 25%;
}
#index-index-listing li {
  background: #eeeeee;
}
#index-index-listing a {
  text-decoration: none;
}
#index-conditions-listing table {
  border-collapse: collapse;
}
#index-conditions-listing tr {
  cursor: move;
}
.or-condition {
  text-align: center;
}
.paren-condition {
  font-weight: bold;
  text-align: center;
  padding: 0;
}
[data-value=close].paren-condition div,
[data-value=exclose].paren-condition div {
  width: 95%;
  height: 3ex;
  margin: auto;
  border-width: 0 thick thick thick;
  border-color: #ffffff;
  border-style: solid;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
}
[data-value=open].paren-condition div,
[data-value=exopen].paren-condition div {
  width: 95%;
  height: 3ex;
  margin: auto;
  border-width: thick thick 0 thick;
  border-color: #ffffff;
  border-style: solid;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
}
.paren-condition.normal div {
  background: #f0a265;
}
.paren-condition.existential div {
  background: #f07818;
}
.remove-condition-button-cell {
  text-align: right;
}
.help-text,
.close {
  font-size: 85%;
  background: #eeeeee;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-style: dotted;
  border-width: thin;
  border-color: #1c94c4;
}
input[disabled] {
  background: #555555;
}
#query-view {
  margin-top: 10px;
}
#file-upload-target {
  display: none;
}
.mini-header {
  background: #9bc1f2;
  clear: both;
  padding: 0.5ex 1em 0.25ex 1em;
}
.total-rows-info {
  background: #9bc1f2;
  clear: both;
  padding: 0.5ex 1em 0.25ex 1em;
}
#deleted-message {
  background: #9bc1f2;
  clear: both;
  padding: 0.5ex 1em 0.25ex 1em;
  background: #eeeeee;
  color: #ff0000;
}
#revision-message {
  background: #9bc1f2;
  clear: both;
  padding: 0.5ex 1em 0.25ex 1em;
  background: #eeeeee;
  color: #ba5d12;
}
nav#history {
  background: #9bc1f2;
  clear: both;
  padding: 0.5ex 1em 0.25ex 1em;
}
.header {
  border: none;
  color: #ffffff;
  background: #f07818;
}
li.ui-corner-all.ui-state-default.ui-tabs-selected.ui-state-active,
li.ui-corner-all.ui-state-default.ui-state-hover,
li.ui-corner-all.ui-state-default {
  border: none;
  padding: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background-color: #eeeeee;
}
.fields.ui-widget.ui-widget-content {
  border-color: #cccccc;
}
.ui-tabs-nav {
  background: #555555;
}
tr.ui-widget-header th {
  color: #000000;
}
#search-field-label {
  font-weight: normal;
}
.search-field-item,
.small-control {
  margin-left: 2px;
  background: #9bc1f2;
  text-decoration: none;
  cursor: pointer;
}
.search-result-context a {
  text-decoration: none;
  color: #000000;
}
.search-results {
  max-height: 70ex;
  overflow-y: scroll;
}
#index-index-input-label {
  text-decoration: underline;
}
.highlight {
  background: #ffff00;
}
.link-button {
  background: #f0a265;
  display: inline-block;
  padding: 0.25ex 2em 0.25ex 2em;
  margin: 0;
  margin-top: 1px;
  cursor: pointer;
}
.remove-button {
  margin-top: 2px;
  float: right;
}
.fields {
  clear: right;
}
#panel-toggle li,
.panel > h2,
.ui-icon-help {
  cursor: pointer;
}
.hidden {
  display: none;
}
nav.pager a#next-index-page {
  text-align: right;
  float: right;
}
#edit-tabs {
  padding: 0 0 3px 0;
}
a.revision-link {
  font-weight: normal;
}
a.selected-revision {
  color: #ba5d12;
}
.ui-state-error {
  color: #ff0000;
  background: rgba(255, 255, 255, 0.5);
  border-color: #ff0000;
}
.ui-state-highlight {
  background: #f07818;
  background: rgba(255, 255, 255, 0.5);
}
.quiet {
  color: #9bc1f2;
}
.changed > b {
  font-style: italic;
}
span.addition {
  background: green;
  margin: 1px;
  padding: 1px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
span.removal {
  background: red;
  margin: 1px;
  padding: 1px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
