@font-face {
  font-family: "abserif";
  src: url('/fonts/AboriginalSerif.eot');
  src: local("AboriginalSerif"), url('/fonts/AboriginalSerif.otf') format('opentype'), url('/fonts/AboriginalSerif.ttf') format('truetype'), url('/fonts/AboriginalSerif.svg#AboriginalSerif') format('svg'); 
}
  
@font-face {
  font-family: "absans";
  src: url('/fonts/AboriginalSans.eot');
  src: local("AboriginalSans"), url('/fonts/AboriginalSans.otf') format('opentype'), url('/fonts/AboriginalSans.ttf') format('truetype'), url('/fonts/AboriginalSans.svg#AboriginalSans') format('svg'); 
}
  
body {
  font-family: absans;
  font-size: 8pt;
  background: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
}

button {
  font-family: absans;
}

section {
  display: block !important;
}

header {
  display: block !important;
  padding-left: 0.5em;
  text-align: left;
  margin: 0;
  background: #008080;
  border-bottom: solid;
  border-width: thin;
}

nav {
  display: block !important;
}

#main-content {
  text-align: left;
  margin: auto;
  background: #EEE;
  padding: 1px;
}

table {
  width: 100%;
}

.ui-dialog-content {
  text-align: left;
}

.ui-dialog-content input, .ui-dialog-content textarea {
  width: 100%;
}

.accordion-head {
  padding-left: 25px;
}

#notifications-main {
  top: 0;
  right: 0;
  position: fixed;
}

.notification span.ui-icon {
  float: left;
  margin-right: 0.3em;
}

label span.ui-icon-help {
  float: right;
}

.padded {
  padding: 0.5em;
}

ul.head-elements {
  padding: 0;
}

ul.head-elements li {
  padding: 0;
  display: inline;
}

ul.head-elements li::before {
  content: ", ";
  white-space: pre;
}

ul.head-elements li:first-child::before {
  content:"";
}

#container {
  display: table;
  width: 100%;
}

#all-document-container {
  
  display: table-row;
}

#document-index {
  width: 25%;
  display: table-cell;
}

#document-view {
  vertical-align: top;
  width: 25%;
  padding-top: 0;
  display: table-cell;
}

#document-edit {
  vertical-align: top;
  width: 50%;
  padding-top: 0;
  display: table-cell;
}

#all-document-container h2 {
  margin-top: 0;
}
