@font-face {
  font-family: "abserif";
  src: url('/fonts/AboriginalSerif.eot');
  src: local("AboriginalSerif"), url('/fonts/AboriginalSerif.otf') format('opentype'), url('/fonts/AboriginalSerif.ttf') format('truetype'), url('/fonts/AboriginalSerif.svg#AboriginalSerif') format('svg'); 
}
  
@font-face {
  font-family: "absans";
  src: url('/fonts/AboriginalSans.eot');
  src: local("AboriginalSans"), url('/fonts/AboriginalSans.otf') format('opentype'), url('/fonts/AboriginalSans.ttf') format('truetype'), url('/fonts/AboriginalSans.svg#AboriginalSans') format('svg'); 
}
  
body {
  font-family: absans;
  font-size: 10pt;
  background: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: left;
  padding-left: 0.5em;
  color: white;
  margin: 0;
}

button {
  font-family: absans;
}

section {
  display: block !important;
}

header {
  display: block !important;
  padding: 0;
  margin: 0;
  background: #008080;
  border-bottom: solid;
  border-width: thin;
}

nav {
  display: block !important;
}

#main-content {
  text-align: left;
  margin: auto;
  background: #EEE;
  padding: 1px;
}

table {
  width: 100%;
}